:root {
  --blue: #1633DF;
  --lightblue: #3da8f5;
  --darkblue: #0019A5;
  --tracerdarkblue: #00007a;
  --tracerblue: #001274;
  --navblue: #011772;
  --midblue: #0d2bd3;
  --grey: #e6e6e6;
  --orange: #F89D35;
  --white: #ffffff;
  --black: #000000;
  --lightgrey: #D1D5DB;
  --darkgrey: #656565;
  --bluegrey: #AAB2E3;
  --midgrey: #9c9c9c;
}
.color-lightgrey {
  color: var(--lightgrey);
}
.color-grey {
  color: var(--midgrey);
}
.color-darkgrey {
  color: var(--darkgrey);
}
.color-bluegrey {
  color: var(--bluegrey);
}
.color-blue {
  color: var(--lightblue);
}
.color-tracerdarkblue {
  color: var(--tracerdarkblue);
}
.color-orange {
  color: var(--orange);
}
.border-blue {
  border-color: var(--blue);
}
.border-lightblue {
  border-color: var(--lightblue);
}
.gradient {
  background: linear-gradient(93.44deg, #040C5C 1.93%, #0618BA 57.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: normal;
}
.gradient-lightblue {
  background: linear-gradient(264.97deg, #0618BA 36.55%, #38C0C0 55.24%, #45AAF2 78.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: normal;
}
.bg-blue {
  background: var(--midblue);
}
.bg-darkblue {
  background: var(--darkblue);
}
.bg-tracerblue {
  background: var(--tracerblue);
}
.bg-navblue {
  background: var(--navblue);
}
.bg-grey {
  background: var(--grey);
}
.transform-gpu {
  transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) translateZ(0) perspective(999px)
}
.force-flex {
  display: flex !important;
}
.duration-1500 {
  transition-duration: 1.5s;
}
.w-screen {
  width: 100vw !important;
}
.learn-overlay {
  height: 580px;
}
.min-w-video {
  max-width: 1920px;
  width: 100%;
  /* min-width: 100vw; */
  min-height: 100%;
  clip-path: inset(1px 1px);
}
.h-fit {
  height: fit-content;
}
.w-fit {
  width: fit-content;
}
/* Youtube thumbnails on Learn page */
.h-thumbnail {
  height: 217px;
}
.yt-thumbnail {
  margin-left: -1px
}
.prose {
  max-width: 800px;
}
.select-dark *::selection  {
  color: var(--white);
  background: var(--darkblue);
}
body,
html {
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
}
body {
  position: relative;
  font-family: "Source Sans Pro", Arial, sans-serif;
  background: var(--darkblue);
  font-size: 16px;
}
img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}
*::selection {
  color: var(--darkblue);
  background: var(--white);
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
*:focus,
*:hover {
  outline: none !important;
}

/*CUSTOM SCROLLBAR*/
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--navblue);
}
::-webkit-scrollbar-thumb {
  background: var(--lightblue);
}

p,
a,
label,
li {
  transition: all 0.5s ease;
}
a {
  text-decoration: none;
}
b,
small {
  font-weight: bold;
}
h1 {
  font-weight: 900;
}
.tile-bg {
  left: 50% !important;
  top: -8rem !important;
  transform: translate(-50%, 0%) !important;
  width: 1920px;
  height: 1150px;
}
.tile-bg.fixed {
  height: 100vh;
}
.tile-bg img {
  top: unset !important;
  left: unset !important;
  right: unset !important;
  bottom: unset !important;
}
.square-middle {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 1500px;
  height: 900px;
}
.tile-bg .blue-square {
  top: -100px !important;
  width: 100%;
}
.tile-bg .blue-arrow {
  top: -400px !important;
  right: -900px !important;
  width: 1300px;
}
.tile-bg .green-arrow {
  top: -100px !important;
  right: -580px !important;
  width: 1300px;
}
.tile-bg .pink-arrow {
  top: 200px !important;
  left: -400px !important;
  width: 1150px;
}
.tile-bg .blue-square-medium {
  top: -320px !important;
  left: -550px !important;
  width: 1200px;
}
.tile-bg .blue-arrow-down {
  top: 175px !important;
  left: -570px !important;
  width: 1100px;
}
.tile-bg .pink-square {
  bottom: -200px !important;
  right: -560px !important;
  width: 1260px;
}
.tile-bg .pink-rectangle {
  bottom: -590px !important;
  left: -990px !important;
  width: 1680px;
}
.tile-bg img {
  max-width: unset;
}
.tracer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.14);
  color: #fff;
  transition: all 0.5s ease;
}
.tracer-btn.blue,
.tracer-btn.glow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lightblue);
  border: 1px solid var(--lightblue);
  background: transparent;
  transition: all 0.5s ease;
}
.tracer-btn.blue {
  border: 1px solid var(--lightblue);
}
.tracer-btn.glow {
  color: var(--lightblue);
  border: 1px solid var(--lightblue);
  background: linear-gradient(91.48deg, rgba(61, 168, 245, 0.5) -5.68%, rgba(61, 168, 245, 0.3) 105.12%);
  box-sizing: border-box;
  /* box-shadow: 0 -1px 10px 3px rgba(61, 168, 245, 0.36); */
}
@media (hover: hover) and (pointer: fine) {
  .tracer-btn:hover,
  .tracer-btn:hover {
    background: rgba(255, 255, 255, 1);
    color: var(--lightblue);
  }
  .tracer-btn.blue:hover,
  .tracer-btn.glow:hover {
    color: var(--lightblue);
  }
  .tracer-btn.glow:hover {
    color: var(--white);
    background: linear-gradient(91.48deg, var(--lightblue) -5.68%, var(--lightblue) 105.12%);
  }
}

/* DOWN ARROW */
picture {
  display: block;
}
section {
  position: relative;
  width: 100%;
}
.scrollmagic-pin-spacer {
  backface-visibility: hidden;
}
.pin-master {
  position: relative;
  height: 100%;
}
.pin-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  transform: translateZ(0);
  backface-visibility: hidden;
}
.large-spacer {
  width: 100%;
  height: 550px; 
}
.medium-spacer {
  width: 100%;
  height: 50vh; 
}
.small-spacer {
  width: 100%;
  height: 500px; 
}

/* NAVBAR */
.backdrop {
  background: rgb(1 23 114 / 50%);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
.backdrop.darker {
  background: rgb(1 23 114 / 90%);
}
@media (hover: hover) and (pointer: fine) {
  .dropdown-option:hover,
  .nav-link:hover {
    background: rgb(0 0 122 / 50%)
  }
}
.mobile-link:hover {
  background: rgb(0 0 122 / 50%)
}
.nav-link.active {
  background: rgb(0 0 122 / 50%)
}
.dropdown {
  min-width: 350px;
}
.dropdown.active {
  height: 500px;
}
.dropdown.active a {
  opacity: 1;
  transition: all 0.5s ease, opacity 0.5s ease 0.3s;
}
.dropdown.inactive {
  height: 0px;
}
.dropdown.inactive a {
  opacity: 0;
  transition: all 0.5s ease;
}
.mobile-nav.active a {
  opacity: 1;
  transition: all 0.5s ease 0.6s;
}
.mobile-nav.inactive a {
  opacity: 0;
  transition: all 0.5s ease 0s;
}
@media (hover: hover) and (pointer: fine) {
  .social-icon:hover {
    filter: invert(0) sepia(0100%) saturate(2000%) hue-rotate(140deg);
  }
}
.menu-icon {
  position: relative;
  width: 25px;
  height: 20px;
}
.menu-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #fff;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.menu-icon span:nth-child(even) {
  left: 50%;
}
.menu-icon span:nth-child(odd) {
  left: 0;
}
.menu-icon span:nth-child(1), .menu-icon span:nth-child(2) {
  top: 0;
}
.menu-icon span:nth-child(3), .menu-icon span:nth-child(4) {
  top: 9px;
}
.menu-icon span:nth-child(5), .menu-icon span:nth-child(6) {
  top: 18px;
}
.menu-icon.open span:nth-child(1), .menu-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu-icon.open span:nth-child(2), .menu-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu-icon.open span:nth-child(1) {
  left: 5px;
  top: 5px;
}
.menu-icon.open span:nth-child(2) {
  left: calc(50% - 1px);
  top: 5px;
}
.menu-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
.menu-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
.menu-icon.open span:nth-child(5) {
  left: 5px;
  top: 12px;
}
.menu-icon.open span:nth-child(6) {
  left: calc(50% - 1px);
  top: 12px;
}
.menu-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #fff;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.menu-icon span:nth-child(even) {
  left: 50%;
}
.menu-icon span:nth-child(odd) {
  left: 0;
}
.menu-icon span:nth-child(1), .menu-icon span:nth-child(2) {
  top: 0;
}
.menu-icon span:nth-child(3), .menu-icon span:nth-child(4) {
  top: 9px;
}
.menu-icon span:nth-child(5), .menu-icon span:nth-child(6) {
  top: 18px;
}
.menu-icon .open span:nth-child(1), .menu-icon .open span:nth-child(6) {
  transform: rotate(45deg);
}
.menu-icon .open span:nth-child(2), .menu-icon .open span:nth-child(5) {
  transform: rotate(-45deg);
}
.menu-icon .open span:nth-child(1) {
  left: 5px;
  top: 5px;
}
.menu-icon .open span:nth-child(2) {
  left: calc(50% - 1px);
  top: 5px;
}
.menu-icon .open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
.menu-icon .open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
.menu-icon .open span:nth-child(5) {
  left: 5px;
  top: 12px;
}
.menu-icon .open span:nth-child(6) {
  left: calc(50% - 1px);
  top: 12px;
}


/* LEVERAGE STEPS */
.step-info {
  position: relative;
  height: 500px;
}
.step-info .step-info__text {
  position: relative;
  z-index: 1;
  transition: all 1.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: translateX(250px);
}
.panel.inactive .step-info .step-info__text {
  transform: translateX(-250px) !important;
  opacity: 0 !important;
}
.step-progress {
  width: 440px;
}
.step-progress span.active {
  background: var(--darkblue);
}
.step-animation {
  height: 950px;
  backface-visibility: hidden;
}
.step-animation video {
  max-width: unset;
}
/* Step animation elements */
.step-animation .step-animation__tile,
.step-animation img {
  position: absolute;
  height: auto;
  transition: all 1.3s ease;
  opacity: 0;
}
/* Before active/scroll lock */

/* Step tiles */
#pinContainer .step-animation .step-animation__tile {
  top: 325px;
  right: -80px;
  z-index: 6;
  opacity: 1;
  transition: all 1.3s ease;
}
.step-animation__tile {
  min-width: 390px;
}
.step-animation__amount {
  top: 22px;
  right: 35px;
}

/* App base */
.step-animation .step-animation__base {
  top: 150px;
  min-width: 806px;
  z-index: 5;
}
.step-animation .step-animation__lightblue-rectangle {
  min-width: 1440px;
  top: -439px;
  right: -1583px;
  z-index: 4;
}
.step-animation .step-animation__pink-rectangle {
  min-width: 1700px;
  top: -430px;
  right: -1830px;
  z-index: 2;
}
.step-animation .step-animation__blue-arrow {
  min-width: 988px;
  bottom: 360px;
  right: -1160px;
  z-index: 1;
}
.step-animation .step-animation__blue-square {
  min-width: 1800px;
  bottom: 20  0px;
  right: -1600px;
  z-index: 0;
}

/* ACTIVE STYLES */
.panel.active {
  pointer-events: all;
}
.panel.active .step-info,
.panel.active .step-info .step-info__text {
  opacity: 1;
}
.panel.active .step-info__text {
  z-index: 2;
  transform: translateX(0px);
  opacity: 1;
}
.panel.active .step-progress {
  opacity: 1;
  z-index: 1;
}

/* Active styles*/
.step-one.start .step-animation .step-animation__tile,
.step-one.start .step-animation > img {
  opacity: 1 !important;
}
.step-one.start .step-animation .step-animation__base {
  top: 80px;
  right: -180px;
}
.step-one.start .step-animation .step-animation__lightblue-rectangle {
  top: -65px;
  right: -775px;
}
.step-one.start .step-animation .step-animation__pink-rectangle {
  top: -120px;
  right: -1170px;
}
.step-one.start .step-animation .step-animation__blue-arrow {
  bottom: 200px;
  right: -990px;
}
.step-one.start .step-animation .step-animation__blue-square {
  bottom: 150px;
  right: -1320px;
}

/* Stages for tile movement */
#pinContainer .panel.start .step-animation__tile .step-animation__empty {
  opacity: 1 !important;
}
/* STAGE ONE */
#pinContainer .panel.stage-one .step-animation__tile {
  top: 245px;
  right: -80px;
}

#pinContainer .panel.stage-one .step-animation__market {
  opacity: 1;
}

/* STAGE TWO */
#pinContainer .panel.stage-two .step-animation__tile {
  top: 300px;
  right: 15px;
}
#pinContainer .panel.stage-two .step-animation__side {
  opacity: 1;
}

/* STAGE THREE */
#pinContainer .panel.stage-three .step-animation__tile {
  top: 355px;
  right: 115px;
}
#pinContainer .panel.stage-three .step-animation__leverage {
  opacity: 1;
}

/* STAGE FOUR */
#pinContainer .panel.stage-four .step-animation__tile {
  top: 410px;
  right: 205px;
}
#pinContainer .panel.stage-four .step-animation__amount {
  opacity: 1;
}

/*------------[Positions slider]------------*/
.token {
  max-width: 117px;
}
.slick-slide:not(.slick-current) {
  pointer-events: none;
}

/* FOX */
.undershadow {
  box-shadow: -1px 0 28px 0 rgba(172, 136, 136, 0.75);
}
/* ACTIVE STYLES */
#token-trigger .city-top {
  top: -1px;
}
#token-trigger .city-background {
  top: 420px;
}
#token-trigger.active #fade1 {
  transition: opacity 0.5s ease;
}

/*------------TRACER CITY------------*/

#city-trigger.active video {
  opacity: 1;
}
#building-trigger.active #tracer-building {
  opacity: 1;
}

/* --------------- INTEGRATE SECTION --------------- */
.integrate-animation {
  height: 950px;
}
.integrate-animation img {
  position: absolute;
  height: auto;
  transition: all 1s ease;
}
.integrate-text {
  max-width: 450px;
}
/* Before active/scroll lock */

/* Clear tile */
.integrate-animation .integrate-animation__tile {
  min-width: 1025px;
  mix-blend-mode: unset;
  top: 250px;
  right: 120px;
  z-index: 2;
}
/* Dark blue base */
.integrate-animation .integrate-animation__layerone {
  min-width: 1600px;
  top: -700px;
  right: -1010px;
  z-index: 0;
}
/* Second layer (pink rectangle) */
.integrate-animation .integrate-animation__layertwo {
  min-width: 2000px;
  bottom: 300px;
  right: -1830px;
  z-index: 1;
}
/* Third layer (arrow) */
.integrate-animation .integrate-animation__layerthree {
  min-width: 1700px;
  top: 45px;
  right: -1540px;
}
/* Fourth layer (arrow green) */
.integrate-animation .integrate-animation__layerfour {
  mix-blend-mode: multiply;
  min-width: 1100px;
  top: -460px;
  right: -1300px;
}

/* Active styles*/
.integrate-section.active .integrate-animation img {
  opacity: 1;
}
/* Tile */
.integrate-section.active .integrate-animation .integrate-animation__tile {
  top: 160px;
  right: 120px;
  transition: all 1s ease 0.7s;
}
.integrate-section.active .integrate-animation .integrate-animation__layerone {
  top: -545px;
  right: -595px;
}
/* Second layer (pink rectangle) */
.integrate-section.active .integrate-animation .integrate-animation__layertwo {
  bottom: -190px;
  right: -860px;
}
/* Third layer (arrow) */
.integrate-section.active .integrate-animation .integrate-animation__layerthree {
  top: 250px;
  right: -1220px;
}
/* Fourth layer (arrow green) */
.integrate-section.active .integrate-animation .integrate-animation__layerfour {
  top: -105px;
  right: -615px;
}
.integrate-section.active .fade-anim {
  opacity: 1;
}

/* --------------- PARTNERS/CONTRIBUTORS SECTION --------------- */

#pinContainerPartners .panel.active {
  z-index: 1;
  opacity: 1;
}

/* --------------- FOOTER --------------- */

footer {
  background: var(--midblue);
}

/* --------------- BLOG POSTS --------------- */

.post-text img {
  display: none;
}

/* --------------- MEDIA QUERIES --------------- */

@media only screen and (max-width: 1600px) and (max-height: 600px){
  .min-h-body {
    min-height: 800px;
  }
}
@media only screen and (min-width: 3000px) {
  #token-trigger .container {
    padding-top: 450px;
  }
  #token-trigger .city-background {
    top: 700px;
  }
  .large-spacer {
    height: 1000px;
  }
  .small-spacer {
    height: 800px;
  }
  footer img#footer-bg {
    bottom: -750px;
  }
}
@media only screen and (min-width: 2000px) {
  #token-trigger .container {
    padding-top: 450px;
  }
  #token-trigger .city-background {
    top: 700px;
  }
  .large-spacer {
    height: 1000px;
  }
  .small-spacer {
    height: 800px;
  }
  footer #footer-bg {
    top: unset;
    bottom: -400px;
  }
}
@media only screen and (min-width: 1280px) {
  .xl\:transform-none {
    transform: none !important;
  }
}
@media only screen and (max-width: 1536px) {
  .large-spacer {
    height: 650px; 
  }
  .h-thumbnail {
    height: 203px;
  }
}
@media only screen and (max-width: 1280px) {
  #token-trigger .city-background {
    top: 300px;
  }
  .large-spacer {
    height: 750px; 
  }
  .h-thumbnail {
    height: 147px;
  }
}
@media only screen and (max-width: 1024px) {
  #pinContainerWallet {
    min-height: 800px;
    height: 800px;
  }
  .wallet-anim {
    width: 100vw !important;
  }
  body.sm-disabled .scrollmagic-pin-spacer {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: 100vh;
  }
  body.sm-disabled .pin-container {
    margin: 0 !important;
  }

  /* Step text animate-in */
  @keyframes slideInLTR {
    0% {
      transform: translateX(-150px);
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  @keyframes slideOutLTR {
    0% {
      transform: translateX(0px);
      opacity: 1;
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: translateX(150px);
    }
  }
  @keyframes slideOutRTL {
    0% {
      transform: translateX(0px);
      opacity: 1;
    }
    20% {
      opacity: 0;
    }
    100% {
      transform: translateX(-150px);
      opacity: 0;
    }
  }
  @keyframes slideInRTL {
    0% {
      transform: translateX(150px);
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  .large-spacer {
    height: 450px;
  }
}
@media only screen and (max-width: 1023px) {
  .panel.strategise-section {
    pointer-events: all;
  }
  .tile-bg {
    transform: translate(-50%, 0%) scale(0.75) !important;
  }
  .step-info {
    height: auto;
  }
  .pin-container {
    height: auto;
  }
  #token-trigger .city-top {
    top: 0;
  }
  #token-trigger .city-background {
    top: 250px;
  }
  .large-spacer {
    height: 370px;
  }
  .small-spacer {
    height: 250px;
  }
  div[data-stellar-ratio] {
    top: 0 !important;
  }
  .integrate-animation { 
    transform: scale(0.4);
  }
  .large-spacer {
    height: 450px;
  }
  .token {
    width: 80px;
  }
  .integrate-section {
    height: 650px;
  }
  .h-thumbnail {
    height: 183px;
  }
  /* Force integrate animation tiles to be active */
  .integrate-section.active .integrate-animation img {
    opacity: 1;
  }
  /* Tile */
  .integrate-section .integrate-animation .integrate-animation__tile {
    top: 160px;
    right: 120px;
    transition: all 1s ease 0.7s;
  }
  .integrate-section .integrate-animation .integrate-animation__layerone {
    top: -545px;
    right: -595px;
  }
  /* Second layer (pink rectangle) */
  .integrate-section .integrate-animation .integrate-animation__layertwo {
    bottom: -190px;
    right: -860px;
  }
  /* Third layer (arrow) */
  .integrate-section .integrate-animation .integrate-animation__layerthree {
    top: 250px;
    right: -1220px;
  }
  /* Fourth layer (arrow green) */
  .integrate-section .integrate-animation .integrate-animation__layerfour {
    top: -105px;
    right: -615px;
  }
  .integrate-section .fade-anim {
    opacity: 1;
  }
  #fade1,
  #fade2,
  #fade3 {
    opacity: 1 !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .md\:pt-13 {
    padding-top: 3.3rem;
  }
}
@media only screen and (max-width: 767px) {
  input[type="email"] {
    transition: all 0.5s ease;
  }
  input[type="email"]:not(.active) {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    max-height: 0;
    opacity: 0;
  }
  input[type="email"].active {
    max-height: 150px;
    height: auto;
    opacity: 1;
  }
  .large-spacer {
    height: 250px;
  }
  .integrate-section {
    height: 700px;
  }
  .h-thumbnail {
    height: 160px;
  }
}
@media only screen and (max-width: 640px) {
  .tile-bg {
    transform: translate(-50%, 0%) scale(0.5) !important;
  }
  .large-spacer {
    height: 210px; 
  }
  .medium-spacer {
    height: 50vh; 
  }
  .small-spacer {
    height: 150px; 
  }
  .integrate-animation { 
    transform: scale(0.33);
  }
  #token-trigger .city-top {
    top: 100px;
  }
  #token-trigger .city-background {
    top: 250px;
  }
  .integrate-section {
    height: 550px;
  }
  .dropdown {
    width: 100vw;
  }
  .dropdown.active {
    height: 100vh;
  }
  .dropdown.active a {
    transition: all 0.5s ease, opacity 0.5s ease 0.5s;
  }
  .min-h-body {
    min-height: 800px;
  }
  .h-thumbnail {
    height: 220px;
  }
}
@media only screen and (max-width: 479px) {
  .large-spacer {
    height: 150px; 
  }
  #token-trigger .city-background {
    top: 200px;
  }
  .min-h-body {
    min-height: 600px;
  }
}
@media only screen and (max-width: 320px) {
  footer #footer-bg {
    top: 0px;
    bottom: unset;
  }
  .home-icon {
    min-width: 16px;
    min-height: 16px;
  }
  .h-thumbnail {
    height: 160px;
  }
}