@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
ol {
  list-style: number;
}
ul,
menu {
  list-style: unset;
}

::-webkit-scrollbar {
  @apply h-2.5 w-2.5;
}
::-webkit-scrollbar-track {
  @apply bg-white;
}
::-webkit-scrollbar-thumb {
  @apply bg-black;
}

body {
  @apply min-w-[320px] max-w-[100vw] overflow-x-hidden bg-white font-sans text-base font-normal leading-[21px] text-white;
  overflow-x: hidden;
  overflow-y: overlay;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark blue background on text selection */
::selection {
  @apply bg-blue-400 text-white;
}

/*CUSTOM SCROLLBAR*/
::-webkit-scrollbar {
  @apply h-2.5 w-2.5;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-action-active;
}

h1,
h2 {
  /* @apply font-semibold; */
  line-height: 110%;
}

p {
  line-height: 150%;
}

input::placeholder {
  @apply text-tertiary;
}

nav * {
  transition: unset !important;
}

/* Button hover classes */

.btn-gradient,
.btn-clear:hover {
  background: linear-gradient(
    267.35deg,
    rgba(28, 100, 242, 0.5) -63%,
    rgba(28, 100, 242, 0) 233.88%
  );
}

.btn-gradient-blue-light {
  background: linear-gradient(
    265.19deg,
    rgba(28, 100, 242, 0) -7.22%,
    rgba(28, 100, 242, 0.155) 101.71%
  );
}
.btn-gradient-blue-dark {
  background: linear-gradient(
    187.04deg,
    rgba(28, 100, 242, 0.5) -11.86%,
    rgba(28, 100, 242, 0) 104.96%
  );
}
.btn-gradient-purple {
  background: linear-gradient(
    267.35deg,
    rgba(123, 97, 255, 0.5) -63%,
    rgba(123, 97, 255, 0) 233.88%
  );
}

.line-gradient-lightblue {
  background: linear-gradient(
    to right,
    rgba(61, 168, 245, 1),
    rgba(61, 168, 245, 0)
  );
}

.line-gradient-blue {
  background: linear-gradient(
    to right,
    rgba(26, 85, 245, 1),
    rgba(26, 85, 245, 0)
  );
}

.line-gradient-purple {
  background: linear-gradient(
    to right,
    rgba(123, 97, 255, 1),
    rgba(123, 97, 255, 0)
  );
}

.line-gradient-grey {
  background: linear-gradient(
    to right,
    rgba(231, 236, 240, 1),
    rgba(231, 236, 240, 0)
  );
}

/* Fix for next/image image width and height */
.image-container {
  width: 100%;
}
.image-container-stretch > span,
.image-container > span {
  position: unset !important;
  height: 100% !important;
}
.image-container-stretch .image,
.image-container .image {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.image-container-stretch .image {
  object-fit: fill;
}

/* BANNER DISC/CIRCLES ANIMATION */
.bannerDiscAnim {
  animation: slideDown 19s ease infinite;
}

@keyframes slideDown {
  0% {
    transform: translate(35vw, 10vh) rotate(315deg);
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(30vw, 20vh) rotate(315deg);
  }
}

/* TOKEN ANIMATIONS */
.topToBottomAnim {
  animation: topToBottom 2s ease infinite;
}

.bottomToTopAnim {
  animation: bottomToTop 2s ease infinite;
}

@keyframes topToBottom {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bottomToTop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Limit blog post description length */
.post-description {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.enlarge {
  transform: scale(1.5);
}

/* BLOG CONTENT PAGES */
.prose {
  max-width: 100%;
}
.prose h1,
.prose h2,
.prose h3,
.prose h1 strong,
.prose h2 strong,
.prose h3 strong {
  @apply text-action-active;
}
.prose h1 strong,
.prose h2 strong,
.prose h3 strong {
  font-weight: 400 !important;
}

.prose h1:after,
.prose h2:after,
.prose h3:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(61, 168, 245, 1),
    rgba(61, 168, 245, 0)
  );
}

/* Hide first image - banner */
.prose > p:first-of-type > img {
  display: none;
}

/* CAREERS TABLE */

/* Add gradient borders */
table:after,
tbody tr:not([data-hidden="true"]):after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0.5px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(61, 168, 245, 1),
    rgba(61, 168, 245, 0)
  );
}

table:after {
  top: unset;
  bottom: 0;
}
