@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
ol {
  list-style: number;
  line-height: 24px !important;
}
ul,
menu {
  list-style: unset;
  line-height: 24px !important;
}
p {
  line-height: 24px !important;
}

::-webkit-scrollbar {
  @apply h-2.5 w-2.5;
}
::-webkit-scrollbar-track {
  @apply bg-white;
}
::-webkit-scrollbar-thumb {
  @apply bg-black;
}

body {
  @apply min-w-[320px] max-w-[100vw] overflow-x-hidden bg-white font-sans text-base font-normal leading-[21px] text-white;
  overflow-x: hidden;
  overflow-y: overlay;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark blue background on text selection */
::selection {
  @apply bg-action-active text-white;
}

/*CUSTOM SCROLLBAR*/
::-webkit-scrollbar {
  @apply h-2.5 w-2.5;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-action-active;
}

h1,
h2 {
  /* @apply font-semibold; */
  line-height: 110%;
}

p {
  line-height: 150%;
}

input::placeholder {
  @apply text-tertiary;
}

/* Mobile nav link animations */
.nav-link {
  @apply translate-y-3 -translate-x-2 opacity-0 transition-all delay-[500ms] duration-700;
}
.active .nav-link {
  @apply translate-y-0 -translate-x-0 opacity-100;
}
.active .nav-link:nth-child(1) {
  @apply delay-[300ms];
}
.active .nav-link:nth-child(2) {
  @apply delay-[400ms];
}
/* .active .nav-link:nth-child(3) { // unused
  @apply delay-[500ms];
} */
.active .nav-link:nth-child(4) {
  @apply delay-[500ms];
}
.active .nav-link:nth-child(5) {
  @apply delay-[600ms];
}
.active .nav-link:nth-child(6) {
  @apply delay-[700ms];
}

/* Button hover classes */

.btn-gradient,
.btn-clear:hover {
  background: linear-gradient(
    267.35deg,
    rgba(28, 100, 242, 0.5) -63%,
    rgba(28, 100, 242, 0) 233.88%
  );
}
.btn-gradient-blue-ultralight {
  background: linear-gradient(
    267.35deg,
    rgba(0, 217, 233, 0.5) -63%,
    rgba(0, 217, 233, 0) 233.88%
  );
}
.btn-gradient-blue-light {
  background: linear-gradient(
    93.98deg,
    rgba(53, 53, 220, 0.1) -48.85%,
    rgba(53, 53, 220, 0) 105.32%
  );
}
.btn-gradient-blue-dark {
  background: linear-gradient(
    93.98deg,
    rgba(53, 53, 220, 0.8) -48.85%,
    rgba(53, 53, 220, 0) 105.32%
  );
}
.btn-gradient-purple {
  background: linear-gradient(
    267.35deg,
    rgba(123, 97, 255, 0.5) -63%,
    rgba(123, 97, 255, 0) 233.88%
  );
}

.line-gradient-lightblue {
  background: linear-gradient(
    to right,
    rgba(61, 168, 245, 1),
    rgba(61, 168, 245, 0)
  );
}

.line-gradient-blue {
  background: linear-gradient(
    to right,
    rgba(26, 85, 245, 1),
    rgba(26, 85, 245, 0)
  );
}

.line-gradient-purple {
  background: linear-gradient(
    to right,
    rgba(123, 97, 255, 1),
    rgba(123, 97, 255, 0)
  );
}

.line-gradient-grey {
  background: linear-gradient(
    to right,
    rgba(231, 236, 240, 1),
    rgba(231, 236, 240, 0)
  );
}

/* Fix for next/image image width and height */
.image-container {
  width: 100%;
}
.image-container-stretch > span,
.image-container > span {
  position: unset !important;
  height: 100% !important;
}
.image-container-stretch .image,
.image-container .image {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.image-container-stretch .image {
  object-fit: fill;
}

/* Cover */
img.image-cover-top {
  object-position: top !important;
}
img.image-cover-bottom {
  object-position: bottom !important;
}
img.image-cover-center {
  object-position: center !important;
}
img.image-cover-left {
  object-position: left !important;
}
img.image-cover-right {
  object-position: right !important;
}

/* BANNER DISC/CIRCLES ANIMATION */
.bannerDiscAnim {
  animation: slideDown 19s ease infinite;
}

@keyframes slideDown {
  0% {
    transform: translate(0, 0) rotate(315deg) scale(1.5);
  }
  100% {
    transform: translate(-15vh, 15vh) rotate(315deg) scale(1.5);
  }
}

/* TOKEN ANIMATIONS */
.topToBottomAnim {
  animation: topToBottom 5s ease infinite;
}

.topToBottomAnimReversed {
  animation: topToBottomReversed 5s ease infinite;
}

.topToBottomAnimSlower {
  animation: topToBottom 7s ease infinite;
}

.bottomToTopAnim {
  animation: bottomToTop 4s ease infinite;
}

@keyframes topToBottom {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes topToBottomReversed {
  0% {
    transform: translateY(0) scaleX(-1);
  }
  50% {
    transform: translateY(10px) scaleX(-1);
  }
  100% {
    transform: translateY(0) scaleX(-1);
  }
}

@keyframes bottomToTop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Limit blog post description length */
.post-description {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* BLOG CONTENT PAGES */

/* Show overflow for blog post drop shadow */
.infinite-scroll-component {
  overflow: visible !important;
}
.prose {
  max-width: 100%;
}
.prose p,
.prose ul li,
.prose p strong {
  @apply text-tertiary;
}
.prose p strong {
  font-weight: bold;
}
.prose strong a {
  @apply text-tracer-lightblue;
}
.prose strong a:hover {
  @apply text-tracer-midblue;
}
.prose h1,
.prose h2,
.prose h3,
.prose h1 strong,
.prose h2 strong,
.prose h3 strong {
  @apply text-action-active;
}
.prose h1 strong,
.prose h2 strong,
.prose h3 strong {
  font-weight: 400 !important;
}

.prose h1:after,
.prose h2:after,
.prose h3:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(61, 168, 245, 1),
    rgba(61, 168, 245, 0)
  );
}

/* Hide first image - banner */
.prose > p:first-of-type > img {
  display: none;
}

/* CAREERS TABLE */

/* Add gradient borders */
.careers-table:after,
.careers-table tbody tr:not([data-hidden="true"]):after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0.5px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(61, 168, 245, 1),
    rgba(61, 168, 245, 0)
  );
}

.careers-table:after {
  top: unset;
  bottom: 0;
}

/* POOLS PAGE */

/* Slick Slider overrides */
.vertical-slider .slick-current + .slick-active + .slick-active div span {
  @apply text-action-active;
}
/* Apply lighter text colour to first, fifth and sixth slides */
.slick-current div span,
.slick-current
  + .slick-active
  + .slick-active
  + .slick-active
  + .slick-active
  div
  span,
.vertical-slider .slick-slide:not(.slick-active) div span {
  @apply text-secondary;
}

.slick-cloned {
  transform: translate3d(0, 0, 0) !important;
}

/* Mechanism Design slider */
.slider-nav .slick-list {
  overflow: visible !important;
}
.slider-nav .slick-current div button {
  @apply font-bold text-action-active;
}
.slider-nav .slick-slide button:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 90px;
  opacity: 0;
  transition: opacity 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(
    180deg,
    rgba(61, 168, 245, 0) 0%,
    rgba(61, 168, 245, 1) 20%,
    rgba(61, 168, 245, 1) 80%,
    rgba(61, 168, 245, 0) 100%
  );
  box-shadow: 2px 0 6px 0px #3da8f5;
}
.slider-nav .slick-slide button:after {
  right: -18px;
}
.slider-nav .slick-current button:after {
  right: -16px;
  opacity: 1;
}
.slick-current {
  z-index: 10 !important;
}
.slider-nav-gradient {
  background: linear-gradient(
    180deg,
    rgba(200, 220, 250, 0) 0%,
    rgba(200, 220, 250, 1) 20%,
    rgba(200, 220, 250, 1) 80%,
    rgba(200, 220, 250, 0) 100%
  );
}

/* Build portfolio */

/* Shjow  */
.portfolio-slider .slick-slide span {
  color: inherit;
}
.portfolio-slider .slick-current .content {
  max-height: 150px;
  opacity: 1;
}

/* Learn page */
.btn-full-width {
  width: auto;
}

@media only screen and (min-width: 3840px) {
  @keyframes slideDown {
    0% {
      transform: translate(0, 0) rotate(315deg) scale(1.5);
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    95% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(-5vh, 5vh) rotate(315deg) scale(1.5);
    }
  }
}

@media only screen and (min-width: 2560px) {
  @keyframes slideDown {
    0% {
      transform: translate(0, 0) rotate(315deg) scale(1.5);
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    95% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(-10vh, 10vh) rotate(315deg) scale(1.5);
    }
  }
  .vertical-slider .slick-slide,
  .vertical-slider {
    width: 800px !important;
  }
}
@media only screen and (min-width: 640px) and (max-width: 2559px) {
  .vertical-slider .slick-slide,
  .vertical-slider {
    width: 465px !important;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1920px) {
  .slider-nav .slick-slide button:after {
    right: -28.5px;
  }
  .slider-nav .slick-current button:after {
    right: -27px;
  }
  .slider-nav .slick-slide button:after {
    height: 64px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  @keyframes slideDown {
    0% {
      transform: translate(0, 0) rotate(315deg) scale(1.5);
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    95% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(-50vh, 50vh) rotate(315deg) scale(1.5);
    }
  }
}
@media only screen and (min-width: 1920px) {
  .slider-nav .slick-slide button:after {
    height: 90px;
  }
}
@media only screen and (min-width: 768px) {
  .enlarge {
    transform: scale(1.5);
  }
}

@media only screen and (max-width: 640px) {
  .vertical-slider .slick-slide,
  .vertical-slider {
    width: 360px !important;
  }
  .slider-nav-gradient {
    background: linear-gradient(
      90deg,
      rgba(200, 220, 250, 0) 0%,
      rgba(200, 220, 250, 1) 20%,
      rgba(200, 220, 250, 1) 80%,
      rgba(200, 220, 250, 0) 100%
    );
  }
  .slider-nav .slick-slide button:after {
    right: unset;
    height: 1px;
    top: unset;
    bottom: -4px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 2px 6px 0px #3da8f5;
    background: linear-gradient(
      90deg,
      rgba(61, 168, 245, 0) 0%,
      rgba(61, 168, 245, 1) 20%,
      rgba(61, 168, 245, 1) 80%,
      rgba(61, 168, 245, 0) 100%
    );
  }
  .slider-nav .slick-slide button:after {
    right: -18px;
  }
  .slider-nav .slick-current button:after {
    right: -16px;
  }
  .portfolio-slider .slick-current .content {
    max-height: 390px;
  }
  .slider-nav .slick-track {
    display: flex;
    justify-content: space-around;
  }
}
